@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>A simple solution that involves practicing with .NET Core and Razor Pages, data modelling, data binding, etc.</p>
</div>
