@{
    ViewData["Title"] = "Cars CRUD";
}

@model IEnumerable<CarModel>

<h1 class="display-4">Cars CRUD</h1>
<p>A simple cars CRUD, with preloaded data on memory.</p>

<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    @*<th>
                        Id
                    </th>*@
                    <th>
                        Brand
                    </th>
                    <th>
                        Model
                    </th>
                    <th>
                        Year
                    </th>
                    <th>
                        Color
                    </th>
                    <th>
                        Price
                    </th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
